/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'); 
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
         url('../fonts/poppins-v20-latin-500.woff') format('woff'); 
  }
  /* poppins-600 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
         url('../fonts/poppins-v20-latin-600.woff') format('woff'); 
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
         url('../fonts/poppins-v20-latin-700.woff') format('woff'); 
  }